html {
  box-sizing: border-box;
  font-family: Merriweather, sans-serif;
  line-height: 1.5;
  color: #fff;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 2rem;
  background-color: #d05c2e;
  margin: 0;
  margin-top: .2em;
}

body {
  margin: 0;
}

header {
  background-color: #d05c2e;
}

div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 40px;
}

ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

ul li {
  font-size: 1.125rem;
  font-weight: bold;
  list-style-type: none;
  border: 1px solid #a63f38;
  width: 33.333%;
}

a:hover {
  background-color: #a63f38;
}

ul a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: .4rem 0;
  text-align: center;
}

nav {
  flex-grow: 2;
  margin-top: 0;
  margin-bottom: 0;
}
