  html {
    box-sizing: border-box;
    font-family: 'Merriweather', sans-serif;
    line-height: 1.5;
    color: #fff;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

h2 {
  font-size: 2rem;
  background-color: #d05c2e
}

body {
  margin: 0;
}

header {
  background-color: #d05c2e
}

div {
  display: flex;
  justify-content: space-between;
}

img {
  width: 40px;
}

ul {
  display: flex;
  justify-content: space-between;
  padding: .4rem 0;
}

ul li {
  font-size: 1.125rem;
  list-style-type: none;
  text-decoration-style: none:
}

ul li:hover {
  background-color: #a63f38;
  padding: .4rem 0;
}

ul a {
  text-decoration: none;
  color: #fff;
}
